registry "http://172.16.6.107:7070/repository/npm-group/"
disturl "http://172.16.6.107:7070/repository/npm-group/"
electron_mirror "https://npm.taobao.org/mirrors/electron/"
sass_binary_site "https://npm.taobao.org/mirrors/node-sass/"
phantomjs_cdnurl "https://npm.taobao.org/mirrors/phantomjs/"