* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    width: inherit;
    height: inherit;
  }
}

*.nopadding {
  padding: 0 !important;
}

.md-input-base {
  width: 240px;
}

.el-divider--vertical {
  margin: 0;
}
.el-icon-copy-document {
  font-size: 16px !important;
}
