.bytemd-editor .CodeMirror .CodeMirror-lines {
  max-width: unset !important;
  margin: unset !important;
}

* {
  box-sizing: border-box;
}

.icon {
  width: 2em;
  height: 2em;
  vertical-align: -0.3em;
  fill: currentColor;
  overflow: hidden;
}
